<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <div class="bod">
    <div class="form-card">

      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSgWsUbzUmJCOBG6O2sLdKYQ-AazD3EKusR4g&usqp=CAU"
        alt="">
      <h1>PRESSING</h1>
      <div>

      </div>
      <form>
        <div class="block">
          <h3>login to continue</h3> <br>
          <div class="form-group">
            <input type="text" id="email" placeholder="email">
          </div>
          <div class="form-group">
            <input type="password" id="password" placeholder="password">
          </div>
          <div class="action-buttons">
            <button type="button" class="btn  btn-primary">Connexion</button>
          </div> <br>
          <div class="phrase">forget Password ?</div>
        </div>
      </form>
    </div>

  </div>
</body>

</html>